<h1>My Chess Project</h1>

<div class="docs-inverse-container">
    <nx-expansion-panel>
        <nx-expansion-panel-header>
        <nx-expansion-panel-title>Show a random Game</nx-expansion-panel-title>
        </nx-expansion-panel-header>
        <h2 nxHeadline="subsection-medium" class="nx-margin-bottom-2m">arikanda61 vs dmiralda</h2>
        <app-board-viewer></app-board-viewer>
    </nx-expansion-panel>

    <br>

    <ul *ngFor="let item of list">
        <nx-expansion-panel>
            <nx-expansion-panel-header (click)="onClick(item.run)">
                <nx-expansion-panel-title>Play on the board</nx-expansion-panel-title>
            </nx-expansion-panel-header>
            <div>
                <main>
                    <ngx-chessground #chess></ngx-chessground>
                </main>
            </div>
        </nx-expansion-panel>
    </ul>
</div>





